
<div class="main posts-index">
  <div class="new-post">
    <input name="content" rows="2" cols="65" data-behavior="room_speaker">
  </div>


  <div class="container">
    <%@posts.each do |post|%>
    <%user = User.find_by(id: post.user_id)%>
    <div class="posts-index-item">
      <%if post.user_id%>
      <div class="post-user-name">
        <img src="<%="/user_images/#{user.image_name}"%>" alt="">

        <%=link_to("#{user.name}","/users/#{user.id}/show")%>
      </div>
      <%end%>
        <%=link_to(simple_format(post.content), "/posts/#{post.id}")%>

        <%if Like.find_by(user_id: @current_user.id, post_id: post.id)%>
          <%=link_to("/likes/#{post.id}/destroy_index", {method:"post"}) do%>
            <span class = "fa fa-heart like"></span>
          <%end%>
        <%else%>
          <%=link_to("/likes/#{post.id}/create_index", {method:"post"}) do%>
            <span class = "fa fa-heart unlike"></span>
          <%end%>
        <%end%>
        <%likes_count = Like.where(post_id: post.id).count%>
        <%=likes_count%>
    </div>
    <%end%>

  </div>
</div>
